* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  height: 100vh;
  width: 100vw;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  background: url("https://source.unsplash.com/HtUBBdNDxpQ/1600x900") no-repeat
    center center/cover;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

h1 {
  font-size: 40px;
  margin-top: 30px;
}

h2 {
  font-size: 25px;
  padding: 10px;
}

h3 {
  font-size: 18px;
  margin-top: 10px;
}

a {
  text-decoration: none;
  color: yellowgreen;
}

/* landing */

#landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 600px;
  margin: auto;
  position: relative;
}

/* counting */
.counting-bg {
  background: url("https://source.unsplash.com/kIPG5OyGbWk/1600x900") no-repeat
    center center/cover;
}

#counting-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 600px;
  margin: auto;
  position: relative;
  padding: 50px;
}

.counting-instructions {
  padding: 20px;
  border: 1px solid #fff;
  border-radius: 10px;
}

#avgLitres,
#totalHours,
#countingAvg {
  color: greenyellow;
}

#trackerAmount {
  display: block;
  font-size: 100px;
  color: greenyellow;
}

#h2oBtnWrap {
  margin: 30px;
}

#clock {
  margin: 20px;
  border: 1px solid orangered;
  padding: 30px;
  color: greenyellow;
  font-size: 20px;
  letter-spacing: 3px;
}

/* forms */

#all-forms-wrap,
#amountWrap {
  border: 1px solid #f5f5f5;
  padding: 20px;
  margin-top: 50px;
  border-radius: 5px;
  flex-shrink: 0;
}

.form-group {
  margin-top: 20px;
  padding: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 3px;
}

input {
  width: 80%;
  text-align: center;
  border: 1px solid greenyellow;
  border-radius: 5px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.5);
}

button {
  cursor: pointer;
  background: none;
  padding: 10px 20px;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  transition: all 3s;
}

button:hover {
  background: greenyellow;

}

#h2oBtn {
  background: none;
  padding: 20px 40px;
  color: #fff;
  font-size: 20px;
  border-radius: 10px;
}

.form-group {
  margin-top: 20px;
  padding: 20px;
}

#yesBtn,
#noBtn {
  margin: 30px;
}

/* footer/navigation bar */

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #333;
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 80px;
  opacity: 0.5;
  text-align: center;
  flex-shrink: 0;
}

ul {
  list-style: none;
  display: flex;
}

ul li {
  padding: 20px;
}

/*  mobile */
@media screen and (max-width: 768px) {
  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 14px;
    margin-top: 3px;
    padding: 2px;
  }

  #all-forms-wrap {
    border: none;
    padding: 1px;
    flex: 0 2;
  }

  .form-group {
    margin-top: 5px;
    padding: 5px;
  }

  Button {
    margin-top: 5px;
  }

  .nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    color: #fff;
    bottom: 0;
    position: relative;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
  }

  ul li {
    padding: 5px;
    font-size: 14px;
    flex-shrink: 0;
  }

  #counting-container {
    display: flex;
    align-items: center;
    text-align: center;
    max-width: 600px;
    margin: auto;
    position: relative;
    padding: 20px;
  }

  .counting-instructions {
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 10px;
  }

  #trackerAmount {
    display: inline;
    font-size: 20px;
    color: greenyellow;
  }

  #h2oBtnWrap {
    margin: 20px;
  }

  #clock {
    margin: 20px;
    border: 1px solid orangered;
    padding: 10px;
    color: greenyellow;
    font-size: 20px;
    letter-spacing: 3px;
    flex-shrink: 0;
  }
}

@media screen and (max-width: 736px) and (max-height: 414px) {
  #landing-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 750px;
    margin: auto;
    position: relative;
  }
  #all-forms-wrap {
    border: none;
    margin-top: 1px;
    flex: 20 0 2%;
  }

  .form-group {
    margin-top: 5px;
    padding: 5px;
  }

  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 14px;
    padding: 5px;
  }

  input {
    width: 30%;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid greenyellow;
    box-shadow: rgba(0, 0, 0, 0.5);
  }

  .form-group label {
    display: inline;
    width: 40%;
    font-size: 14px;
    margin-bottom: 3px;
  }

  #counting-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    max-width: 700px;
    margin: auto;
    position: relative;
    padding: 20px;
  }

  #amountWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: none;
    margin: 3px;
  }

  #clock {
    max-width: 70%;
    margin: 10px auto;
    border: 1px solid orangered;
    padding: 5px;
    color: greenyellow;
    font-size: 20px;
    letter-spacing: 1px;
    /* flex: 50% 2 0; */
  }
  .counting-instructions {
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 10px;
    flex-shrink: 20% 1;
    max-width: 20%;
    font-size: 140px;
  }

  #trackerAmount {
    font-size: 30px;
    flex-shrink: 1;
    color: greenyellow;
  }

  .nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    color: #fff;
    bottom: 0;
    position: fixed;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
  }

  ul li {
    padding: 15px;
    font-size: 14px;
    flex-shrink: 0;
  }

  #h2oBtnWrap {
    margin: 5px;
  }
}
